<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259227588485-acpe7522hfjnojhhrqj8o1bhg9rcqgf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259227588485-acpe7522hfjnojhhrqj8o1bhg9rcqgf8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>259227588485-qlcj8s54ocrtv3jtjmf2c4b6qojd3v29.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBofB9tT6hN_y8k7wj7tpTtXoNcG09v2HM</string>
	<key>GCM_SENDER_ID</key>
	<string>259227588485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodo.rodo</string>
	<key>PROJECT_ID</key>
	<string>rodotest-812ea</string>
	<key>STORAGE_BUCKET</key>
	<string>rodotest-812ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259227588485:ios:a323a0fb707558f35296ec</string>
</dict>
</plist>